.bar {
    float: right;
    display: block;
    padding: 8px;
}

#bottom {
    padding-left:0px;
    padding-right:2px;
    margin-top: 12%;
    background-color: #f2f2f2;
}

.bottom_right {
    float: left;
    display: block;
    padding: 8px;
}

#logo {
    width:20%;
    margin: auto auto;
    margin-top: 12%;
}

#search_bar{
    padding-top:10;
    width:45%;
    margin: auto auto;
}

#search {
    width: 100%;
    padding: 8px 20px;
    color:#757575;
    border : 1px, solid, #f2f2f2;
    font-size: 14pt;
}
#button_div {
    padding-top:35px;
    width:45%;
    margin: auto auto;
}

.button {
    position: relative;
	left: 30%;
    top: 90%;
    font-weight: bold;
    background-color : solid, #f2f2f2;
}

#color {
    background-color : #f2f2f2;
}