li {
    float: right;
    display: block;
    padding: 8px;
}

a {
    display: block;
    padding: 8px;
}

#logo {
    width:20%;
    margin: auto auto;
    margin-top: 12%;
}

#search_bar{
    padding-top:10;
    width:45%;
    margin: auto auto;
}

#search {
    width: 100%;
    padding: 12px 20px;
    color:#757575;
    border : 1px, solid, #f2f2f2;
    font-size: 14pt;
}
#button_div {
    padding-top:35px;
    width:45%;
    margin: auto auto;
}

.button {
    color:757575;
    position: relative;
	left: 30%;
    top: 90%;
    font-weight: bold;
    background-color : #f2f2f2;
}